@charset "utf-8";
/* CSS Document */

body { margin:0px; background:url(../_img/bg_site.jpg) repeat-x ; }
#site { width:991px; display:table; margin-left:auto; margin-right:auto}

#top_header { width:991px; height:32px; display:table; background:url(../_img/bg_top_menu.jpg) repeat-x; margin-left:auto; margin-right:auto; margin-top:5px;} 
#meio_header { width:991px; height:86px; display:table;}
#bottom_header { width:991px; height:77px; display:table; background:url(../_img/fundo_azul_menu_bottom.jpg) repeat-x;}

#cont_cadastro { width:991px; height:805px; display:table; background:#E3E3E3; margin-top:10px;}

#indice_cadastro { width:971px; height:55px; margin-top:10px; margin-left:auto; margin-right:auto; display:table;}

#formulario_cadastro { width:971px;; height:640px; margin-left:auto; margin-right:auto; margin-top:50px;}


/*PAG CADASTRO 1*/

#txt_cad_01 { width:947px; height:629px; display:table; margin-left:auto; margin-right:auto; margin-top:50px;}

#btn_concordo { width:329px; height:59px; display:table; margin-left:auto; margin-right:auto;}

/*PAG CADASTRO 2 */

#bg_criar_user { width:971px; height:81px; display:table; background:url(../_img/bg_criar_usuario.jpg) no-repeat; margin-top:24px;}

.alinha_table { width:971px; margin-top:10px;}

.dados_bancarios { width:971px; height:68px; display:table; margin-top:20px;}
.end_correspondencia { width:971px; height:104px; display:table; margin-top:20px;}
.planos_adesao { width:971px; height:100px; display:table; margin-top:20px;}
.btn_cadastrar { width:971px; height:43px; display:table;}
.btn_erro { width:43px; height:43px; display:table; background:url(../_img/erro.jpg); float:left}
.msg_erro { width:300; height:30px; display:table; float:left; margin-top:13px; margin-left:10px;} 
.btn { width:211px; height:30px; display:table; float:right;}
#linha_meio { width:991px; height:6px; background-color:#fab72e; display:table; margin-top:19px;}


/*PAG CADASTRO 3*/

#msg_finaliza_cadastro { width:450px; height:182px; display:table; margin-top:122px; margin-left:auto; margin-right:auto;}
.confirmado { width:87px; height:86px; display:table; background:url(../_img/confirmado.jpg) no-repeat; margin-left:auto; margin-right:
auto;}
.msg_confirmado { width:450px; margin-top:10px;; display:table; text-align:center;}
.msg_anuncie { width:450px; margin-top:10px; display:table; text-align:center;}

#boxes { width:991px; height:283px; display:table; margin-top:17px;}

#bottom { width:991px; height:253px; display:table; margin-top:21px;}